@{
    ViewBag.Title = "It's my HomePage";
}

<h1>Welcome to my SiTe </h1>
<p>
   We are in Index directory now, come from HomeController actionIndex f-on <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
